.loginBody{background: #f1f1f1;}
.loginMain{width: 300px;position: absolute;top: 30%;left: 50%;margin-left: -150px;border-radius: 5px;background: #fff;padding-bottom: 20px;}
.userTable{margin-top: 20px !important;overflow: hidden;}
.userTable tr td,.blogTable tr td{vertical-align: middle !important;}
#pagelist{text-align: center !important;margin: 0 auto;}
#pagelist .pagination{margin: 0px auto;}
.navBar{margin-bottom: 20px;}